{{ header | raw }}

<section class="sellbuyleads">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="title-primary text-center">{{ service.title }}</h2>
            </div>
            <div class="col-lg-12">
                <div class="text-wrapper">
                    <span class="sellbuyleads-text">
                        {{ service.description }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

{{ leadForm | raw }}

<div class="comments-section__white">
    <section class="comments-section animate-hidden" id="section-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title-primary comments-title">Почему мы?</h4>
                </div>
            </div>

            <div class="slider-section">
                <div class="slider-card-wrapper">
                    <div class="slider-card">
                        <div class="slider-card__content">
                            <div class="slider-card__avatar">
                                <img src="/img/avatar.png" alt="">
                            </div>
                            <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                            <span class="slider-card__name" >Имя Фамилия</span>
                        </div>
                    </div>
                </div>
                <div class="slider-card-wrapper">
                    <div class="slider-card">
                        <div class="slider-card__content">
                            <div class="slider-card__avatar">
                                <img src="/img/avatar.png" alt="">
                            </div>
                            <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                            <span class="slider-card__name" >Имя Фамилия</span>
                        </div>
                    </div>
                </div>
                <div class="slider-card-wrapper">
                    <div class="slider-card">
                        <div class="slider-card__content">
                            <div class="slider-card__avatar">
                                <img src="/img/avatar.png" alt="">
                            </div>
                            <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                            <span class="slider-card__name" >Имя Фамилия</span>
                        </div>
                    </div>
                </div>
                <div class="slider-card-wrapper">
                    <div class="slider-card">
                        <div class="slider-card__content">
                            <div class="slider-card__avatar">
                                <img src="/img/avatar.png" alt="">
                            </div>
                            <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                            <span class="slider-card__name" >Имя Фамилия</span>
                        </div>
                    </div>
                </div>
                <div class="slider-card-wrapper">
                    <div class="slider-card">
                        <div class="slider-card__content">
                            <div class="slider-card__avatar">
                                <img src="/img/avatar.png" alt="">
                            </div>
                            <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                            <span class="slider-card__name" >Имя Фамилия</span>
                        </div>
                    </div>
                </div>
                <div class="slider-card-wrapper">
                    <div class="slider-card">
                        <div class="slider-card__content">
                            <div class="slider-card__avatar">
                                <img src="/img/avatar.png" alt="">
                            </div>
                            <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                            <span class="slider-card__name" >Имя Фамилия</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{{ footer | raw }}