<div class="admin-wrapper">
    <form action="/dashboard/leads/import/store/{{ leadImport.id }}" method="post" class="">
        <div class="row">
            <div class="col-md-8 admin-form">
                <div>
                    <h1 class="admin-title">
                        Импорт из файла
                    </h1>
                </div>

                <p>
                    Введите, как называются поля в вашей таблице
                </p>

                <p>
                    <br>
                </p>

                <div class="row">
                    <div class="col-md-4">
                        <div class="admin-form__group">
                            <label class="admin-form__label">Поле (id потока)</label>
                            <input type="text" name="flowIdField" class="admin-form__text" placeholder="id потока" value="{{ leadImport.flowIdField }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="admin-form__group">
                            <label class="admin-form__label">Поле (Имя)</label>
                            <input type="text" name="nameField" class="admin-form__text" placeholder="Имя" value="{{ leadImport.nameField }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="admin-form__group">
                            <label class="admin-form__label">Поле (Телефон)</label>
                            <input type="text" name="phoneField" class="admin-form__text" placeholder="Телефон" value="{{ leadImport.phoneField }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="admin-form__group">
                            <label class="admin-form__label">Поле (Регион)</label>
                            <input type="text" name="regionField" class="admin-form__text" placeholder="Регион" value="{{ leadImport.regionField }}">
                        </div>
                    </div>
                    {#                    <div class="col-md-4">#}
                    {#                        <div class="admin-form__group">#}
                    {#                            <label class="admin-form__label">Поле (Город)</label>#}
                    {#                            <input type="text" name="name" class="admin-form__text" placeholder="Введите имя клиента">#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div class="col-md-4">
                        <div class="admin-form__group">
                            <label class="admin-form__label">Поле (Комментарий)</label>
                            <input type="text" name="commentField" class="admin-form__text" placeholder="Комментарий" value="{{ leadImport.commentField }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="admin-form__group">
                            <label class="admin-form__label">Выберите файл (csv, xlsx)</label>
                            <label class="admin-form__label">Загруженный файл: <b>{{ leadImport.file.originalName }}</b></label>
                            <input type="file" name="file" placeholder="Выберите файл">
                        </div>
                    </div>
                </div>

                <div>
                    <br>
                </div>

                {#                <div>#}
                {#                    <h2 class="admin-title">#}
                {#                        Предварительный просмотр#}
                {#                    </h2>#}
                {#                </div>#}
            </div>
            <div class="col-md-4">
                <div class="publish-card-wrapper">
                    <div class="publish-card">
                        <p>
                            {% if leadImport.id is empty %}
                                Шаг 1
                            {% else %}
                                Шаг 2
                            {% endif %}
                        </p>
                        <input type="submit" id="submit" class="button-primary w-100 publish-card__submit" value="Обновить">
                        <div style="padding-top: 15px;" class="text-center">
                            <a href="#" id="submit" class="button-primary w-100 publish-card__submit">Начать импорт</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="admin-title">
                    Предварительный просмотр
                </h2>

                <div class="dashboard-table-outer">
                    <table class="dashboard-table">
                        <thead class="dashboard-table__head">
                        <tr>
                            <td class="dashboard-table__col">{{ leadImport.flowIdField }} (id потока)</td>
                            <td class="dashboard-table__col">{{ leadImport.nameField }} (Имя)</td>
                            <td class="dashboard-table__col">{{ leadImport.phoneField }} (Телефон)</td>
                            <td class="dashboard-table__col">{{ leadImport.regionField }} (Регион)</td>
                            <td class="dashboard-table__col_last">{{ leadImport.commentField }} (Комментарий)</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="dashboard-table__row">
                            <td class="dashboard-table__col">5</td>
                            <td class="dashboard-table__col">07.12.2023 21:25:06</td>
                            <td class="dashboard-table__col">Создано</td>
                            <td class="dashboard-table__col">Создано</td>
                            <td class="dashboard-table__col" style="text-align: right;">
                                Создано
                            </td>
                        </tr>
                        {% for row in data %}
                            <tr class="dashboard-table__row">
                                <td class="dashboard-table__col">{{ row[leadImport.flowIdField] ?? '' }}</td>
                                <td class="dashboard-table__col">{{ row[leadImport.nameField] ?? '' }}</td>
                                <td class="dashboard-table__col">{{ row[leadImport.phoneField] ?? '' }}</td>
                                <td class="dashboard-table__col">{{ row[leadImport.regionField] ?? '' }}</td>
                                <td class="dashboard-table__col">{{ row[leadImport.commentField] ?? '' }}</td>
{#                                <td class="dashboard-table__col" style="text-align: right;">#}
{#                                    Создано#}
{#                                </td>#}
                            </tr>
                        {% endfor %}
                        </tbody></table>
                </div>
            </div>
        </div>

    </form>
</div>