<div class="admin-wrapper">
    <form action="/dashboard/lead-queries/update/{{ leadQuery.id }}" method="post" class="">
        <div class="row">
            <div class="col-md-8 admin-form">
                <h2>
                    Обновить запрос лидов
                </h2>
                <div class="admin-form__group">
                    <label class="admin-form__label">Тематика: </label>
                    <select class="admin-form__select" name="category_id">
                        <option value="0">Выберите тематику потока</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if leadQuery.category.id == category.id %} selected {% endif %}>{{ category.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Регион: </label>
                    <select class="admin-form__select" name="region_id">
                        <option value="0">Выберите регион</option>
                        {% for region in regions %}
                            <option value="{{ region.id }}" {% if leadQuery.region.id == region.id %} selected {% endif %}>{{ region.region }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Какие лиды нужны?: </label>
                    <textarea type="text" name="description" placeholder="Описание" class="admin-form__textarea">{{ leadQuery.description }}</textarea>
                </div>

                <div class="admin-form__group">
                    <label class="admin-form__label">Стоимость лида ОТ - ДО : </label>
                    <div>
                        <input {% if leadQuery.costRange %} value="{{ leadQuery.costRange['min'] }}" {% endif %} name="costRange[min]" type="text" class="admin-form__int" placeholder="От"/> -
                        <input {% if leadQuery.costRange %} value="{{ leadQuery.costRange['max'] }}" {% endif %} name="costRange[max]" type="text" class="admin-form__int" placeholder="До"/>
                    </div>
                </div>

                <div class="admin-form__group">
                    <label class="admin-form__label">Количество лидов ОТ - ДО : </label>
                    <div>
                        <input {% if leadQuery.leadsRange %} value="{{ leadQuery.leadsRange['min'] }}" {% endif %} name="leadsRange[min]" type="text" class="admin-form__int" placeholder="От"/> -
                        <input {% if leadQuery.leadsRange %} value="{{ leadQuery.leadsRange['max'] }}" {% endif %} name="leadsRange[max]" type="text" class="admin-form__int" placeholder="До"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="publish-card-wrapper">
                    <div class="publish-card">
                        <input type="submit" id="submit" class="button-primary w-100 publish-card__submit" value="Сохранить">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>