<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css?v=1">
    <title>Настройки</title>
</head>
<body>
<section class="admin-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 admin-aside-column">
{#                <div>#}
{#                    <a href="/">#}
{#                        <img class="logo-img" src="/img/birzha-leads.png" alt="Логотип">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="admin-profile">#}
{#                    <div class="admin-profile__avatar">#}
{#                        <img src="/img/i.png" alt="">#}
{#                    </div>#}
{#                    <p class="admin-profile__username">{{ app.user.name }}</p>#}
{#                    <p class="admin-profile__email">{{ app.user.email }}</p>#}
{#                    <p class="admin-profile__email">Баланс: <b>0.00 р.</b></p>#}
{#                </div>#}
                <ul class="admin-menu">
                    <li class="admin-menu__item">
                        <a href="/dashboard/settings" class="admin-menu__link">
                            <img class="logo-img" src="/img/birzha-leads_white.png" alt="Логотип">
                        </a>
                    </li>
                    <li class="admin-menu__item">
                        <a href="/dashboard/settings" class="admin-menu__link">
                            <div class="paragraphs-icon-wrapper">
                                <i class="fa fa-cogs" aria-hidden="true"></i>
                            </div>
                            Настройки профиля
                        </a>
                    </li>
                    <li class="admin-menu__item">
                        <a href="/dashboard" class="admin-menu__link">
                            <div class="paragraphs-icon-wrapper">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            </div>
                            Статистика
                        </a>
                    </li>

                    {% if app.user.mode == constant('App\\Enum\\UserModeEnum::webmaster').value %}
                        <li class="admin-menu__item">
                            <a href="/dashboard/leads" class="admin-menu__link">
                                <div class="paragraphs-icon-wrapper">
                                    <i class="fa fa-tasks" aria-hidden="true"></i>
                                </div>
                                Список лидов
                            </a>
                            <ul class="admin-sub-menu">
                                <li class="admin-sub-menu__item">
                                    <a class="admin-sub-menu__link" href="/dashboard/lead-queries/">Запросы лидов</a>
                                    <a class="admin-sub-menu__link" href="/dashboard/leads/add">Добавить лид</a>
                                    <a class="admin-sub-menu__link" href="/dashboard/leads/import">Импорт из CSV (XLSX)</a>
                                </li>
                            </ul>
                        </li>
                        <li class="admin-menu__item">
                            <a href="/dashboard/flows" class="admin-menu__link">
                                <div class="paragraphs-icon-wrapper">
                                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                                </div>
                                Мои потоки
                            </a>
                            <ul class="admin-sub-menu">
                                <li class="admin-sub-menu__item">
                                    <a class="admin-sub-menu__link" href="/dashboard/flows/add">Добавить поток</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if app.user.mode == constant('App\\Enum\\UserModeEnum::advertiser').value %}
                        <li class="admin-menu__item">
                            <a href="/dashboard/leads" class="admin-menu__link">
                                <div class="paragraphs-icon-wrapper">
                                    <i class="fa fa-tasks" aria-hidden="true"></i>
                                </div>
                                Мои лиды
                            </a>
                            <ul class="admin-sub-menu">
                                <li class="admin-sub-menu__item">
                                    <a class="admin-sub-menu__link" href="#">Лента невыкупленных лидов</a>
                                </li>
                            </ul>
                        </li>
                        <li class="admin-menu__item">
                            <a href="/dashboard/flows" class="admin-menu__link">
                                <div class="paragraphs-icon-wrapper">
                                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                                </div>
                                Каталог потоков
                            </a>
                            <ul class="admin-sub-menu">
                                <li class="admin-sub-menu__item">
                                    <a class="admin-sub-menu__link" href="/dashboard/flows/work">Потоки в работе</a>
                                </li>
                            </ul>
                        </li>
                        <li class="admin-menu__item">
                            <a href="/dashboard/lead-queries/me" class="admin-menu__link">
                                <div class="paragraphs-icon-wrapper">
                                    <i class="fa fa-tasks" aria-hidden="true"></i>
                                </div>
                                Мои запросы лидов
                            </a>
                            <ul class="admin-sub-menu">
                                <li class="admin-sub-menu__item">
                                    <a class="admin-sub-menu__link" href="/dashboard/lead-queries/add">Добавить запрос лидов</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-sm-9 admin-main">
                <header class="admin-header">
                    <div class="row">
                        <div class="col-md-6">
{#                            <a href="/">#}
{#                                <img class="logo-img" src="/img/birzha-leads.png" alt="Логотип">#}
{#                            </a>#}
                        </div>
                        <div class="col-md-3">
                            <div class="mode-chooser">
                                <a class="mode-chooser__item js-mode {% if app.user.isWebmaster() %} mode-chooser__active {% endif %} border_right" href="/dashboard/mode?type={{ constant('App\\Enum\\UserModeEnum::webmaster').value }}">
                                    {{ constant('App\\Enum\\UserModeEnum::webmaster').getLabel() }}
                                </a>
                                <a class="mode-chooser__item js-mode {% if not app.user.isWebmaster() %} mode-chooser__active {% endif %}" href="/dashboard/mode?type={{ constant('App\\Enum\\UserModeEnum::advertiser').value }}">
                                    {{ constant('App\\Enum\\UserModeEnum::advertiser').getLabel() }}
                                </a>
                            </div>
{#                            <a href="#" class="user-settings-link">#}
{#                                <i class="fa fa-cogs" aria-hidden="true"></i>#}
{#                                Настройки#}
{#                            </a>#}
                        </div>
                        <div class="col-md-3">
                            <div class="header-profile">
                                <span class="header-profile__email">
                                    {{ app.user.email }}
                                </span>
                                <div class="balance-info">
                                    <span class="balance-info__text">
                                        Баланс:
                                    </span>
                                    <b class="balance-info__value">
                                        {{ app.user.balance }}р.
                                    </b>
                                    <a class="user-logout" href="/logout">Выйти</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="admin-inner">
                    {% include inner %}
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js" integrity="sha512-d4KkQohk+HswGs6A1d6Gak6Bb9rMWtxjOa0IiY49Q3TeFd5xAzjWXDCBW9RS7m86FQ4RzM2BdHmdJnnKRYknxw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    // Отслеживаем клик по табу
    jQuery('.js-tab').click(function () {
        // Запишем таб по которому был сделан клик в переменную для удобства
        $this = jQuery(this)
        // Получим идентификатор таба который нужно показать из data-tab
        const id = $this.data('tab')

        // Удалим класс active у всех табов
        jQuery('.js-tab').removeClass('active')
        // Добавим класс active табу по которому мы кликнули
        $this.addClass('active')

        // скроем сначала все вкладки
        jQuery('.js-content').hide()
        // покажем вкладку с нужным нам идентификатором
        jQuery('.js-content[data-tab='+id+']').show();
        jQuery('.tab').removeClass('tab-active');
        jQuery(this).toggleClass('tab-active')
    })
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        jQuery(".js-phoneInput").mask("{{ constant('App\\Factories\\PhoneFactory::PHONE_MASK') }}");
    })
</script>
</body>
</html>